body{
  color:rgb(71, 2, 71);
  background-image:url("pexels-thought-catalog-317580-904616.jpg");
  background-repeat: repeat-x;
  background-position: center center;
  background-size:cover ;
  margin:0px;
  font-family: "Sour Gummy", sans-serif;
  margin-bottom: 100px;
}

header{
  border-bottom: solid 2px rgb(233, 223, 233);
  padding: 20px;
  font-size: 27px; 
  color: rgb(71,3,71);
}



section{ 
  background:rgb(239, 158, 250);
  opacity:0.7;
  padding-bottom: 20px;
  padding-top: 20px;
  display: flex;
  justify-content:center;

}
.chamada-texto {
   margin-right: 5%;

}
h1{
  font-size:40px;

}

p{
 font-size:19px;
 display: flex 


}

h2{
  margin: 20px
}
.categoria-videos{
  display: flex;
  overflow-x: auto;
  gap: 10px;
  margin-top: 10px;
  margin-left: auto;
}
.categoria-videos img{
  opacity: 0.7;
  height:120px;
}
.categoria-videos img:hover{
  opacity: 1.0;
  border: 2px solid rgb(29, 1, 29)
}